#
# Copyright 2016, Data61
# Commonwealth Scientific and Industrial Research Organisation (CSIRO)
# ABN 41 687 119 230.
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
# @TAG(DATA61_BSD)
#

choice
    bool "boot mode selection"
    depends on APP_CAMKES_VM && PLAT_TK1
    default VM_TK1_INITRD
    help
        Selects whether to load root file system off emmc or ramdisk

    config VM_TK1_INITRD_ROOTFS
        bool "initrd"
        help
            Selects initrd as the root filesystem.

    config VM_TK1_EMMC_ROOTFS
        bool "mmcblk0p2"
        help
            Selects partition 2 of the emmc card as the root
            filesystem.

endchoice

config TK1_DEVICE_FWD
    bool "Forward VM access to UART and Clock and reset controller"
    depends on APP_CAMKES_VM && PLAT_TK1
    default n
    help
        When using the VM with other components that need access to the UART and clock and reset controller
        devices, this option will cause the vm to forward the faults over a RPC connection

config TK1_INSECURE
    bool "Insecure: Give all devices to VM component"
    depends on APP_CAMKES_VM && PLAT_TK1
    default n
    help
        The option when disabled only passes through UARTD, USB, EMMC, VGIC and a Clock and reset controller
