# Copyright 2021, Proofcraft Pty Ltd
#
# SPDX-License-Identifier: BSD-2-Clause

# CAmkES VM regression tests

name: Camkes VM

on:
  push:
    branches: [master]
    paths-ignore:
      - '**.md'

  # allow manual trigger
  workflow_dispatch:

  # allow explict trigger from other repos when dependencies have changed
  repository_dispatch:
    types: [deps-update]

jobs:
  code:
    name: Freeze Code
    runs-on: ubuntu-latest
    outputs:
      xml: ${{ steps.repo.outputs.xml }}
    steps:
    - id: repo
      uses: seL4/ci-actions/repo-checkout@master
      with:
        manifest_repo: camkes-vm-examples-manifest
        manifest: master.xml

  build:
    name: Build
    needs: code
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        march: [nehalem, armv7a, armv8a]
    steps:
    - uses: seL4/ci-actions/camkes-vm@master
      with:
        xml: ${{ needs.code.outputs.xml }}
        march: ${{ matrix.march }}
    - name: Upload images
      uses: actions/upload-artifact@v3
      with:
        name: images-${{ matrix.march }}
        path: '*-images.tar.gz'

  hw-run:
    name: Hardware
    runs-on: ubuntu-latest
    needs: [build]
    if: ${{ github.repository_owner == 'seL4' }}
    strategy:
      fail-fast: false
      matrix:
        march: [nehalem, armv7a, armv8a]
    # do not run concurrently with other workflows, but do run concurrently in the build matrix
    concurrency: camkes-hw-${{ strategy.job-index }}
    steps:
      - name: Get machine queue
        uses: actions/checkout@v4
        with:
          repository: seL4/machine_queue
          path: machine_queue
          token: ${{ secrets.PRIV_REPO_TOKEN }}
      - name: Download image
        uses: actions/download-artifact@v3
        with:
          name: images-${{ matrix.march }}
      - name: Run
        uses: seL4/ci-actions/camkes-vm-hw@master
        with:
          march: ${{ matrix.march }}
          index: $${{ strategy.job-index }}
        env:
          HW_SSH: ${{ secrets.HW_SSH }}

  deploy:
    name: Deploy manifest
    runs-on: ubuntu-latest
    needs: [code, hw-run]
    if: ${{ github.repository_owner == 'seL4' }}
    steps:
    - name: Deploy
      uses: seL4/ci-actions/manifest-deploy@master
      with:
        xml: ${{ needs.code.outputs.xml }}
        manifest_repo: camkes-vm-examples-manifest
      env:
        GH_SSH: ${{ secrets.CI_SSH }}
